
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>

<div class="row text-center">
    Technologies: 
    <br />ASP.NET Core MVC APP 
    <br />Google Maps Directions API
    <br />Google Maps JavaScript API
    <br />Google Distance Matrix API
    <br />Repository Design Pattern Database ASP.NET Core REST API

    <br />Over my years as a sales representative for one of the worlds largest vendor companies, I noticed most companies were operating with very dated technology, and the few pieces of current generation technology they did have rarely functioned. RouteWay is an APP I’ve designed to improve the lives and efficiency of grocery vendors during their workday.
</div>