@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rightway</h1>
    <p>Learn <a asp-action="AboutUs">about us</a>.</p>
    <img src="~/img/groceryAisle.jpg" style="height:100%;width:100%"/>
</div>
